<script>
$(function() {
    $('#plugin_product_video').appendTo('.c-contentsArea__primaryCol');
});
</script>

<div id="plugin_product_video">
    <div class="card rounded border-0 mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'tooltip.product.product_video'|trans }}">
                        <span class="card-title">{{ 'admin.product.product_video__card_title'|trans }}</span>
                        <i class="fa fa-question-circle fa-lg ms-1"></i>
                    </div>
                </div>
                <div class="col-4 text-end">
                    <a data-bs-toggle="collapse" href="#pluginProductVideoArea" aria-expanded="true" aria-controls="pluginProductVideoArea" class="">
                        <i class="fa fa-lg fa-angle-down fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ec-cardCollapse collapse show" id="pluginProductVideoArea" style="">
            <div class="card-body">
                {% for no, ProductVideoForm in form.ProductVideos %}

                    <div class="d-block mb-3" data-bs-toggle="collapse" href="#hidden_{{loop.index}}" role="button"
                            aria-expanded="false" aria-controls="hidden_{{loop.index}}">
                        <a>
                            <i class="fa fa-plus-square-o fw-bold me-1"></i>
                            <span class="fw-bold">{{ 'admin.product.product_video__no'|trans({'%no%' : loop.index}) }}</span>
                        </a>
                    </div>

                    <div class=" {{ ( (loop.index == 1 or ProductVideoForm.vars.data.id is not empty ) ? 'show' : '' ) }} collapse ec-collapse" id="hidden_{{loop.index}}">

                        <div class="row mb-2">
                            <div class="col-3">
                                <span>{{ 'product_video.type.title'|trans }}</span>
                            </div>
                            <div class="col-9">
                                <div>
                                    {{ form_widget(ProductVideoForm.title) }}
                                    {{ form_errors(ProductVideoForm.title) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <span>{{ 'product_video.type.content'|trans }}</span>
                            </div>
                            <div class="col-9">
                                <div>
                                    {{ form_widget(ProductVideoForm.content, { attr : { rows : "5"} }) }}
                                    {{ form_errors(ProductVideoForm.content) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <span>{{ 'product_video.type.video_url'|trans }}</span>
                            </div>
                            <div class="col-9">
                                <div>
                                    {{ form_widget(ProductVideoForm.video_url, { attr : { rows : "3"} }) }}
                                    {{ form_errors(ProductVideoForm.video_url) }}
                                </div>
                            </div>
                        </div>
                        {% if ProductVideoForm.vars.data.video_url is not empty %}
                            <div class="row">
                                <div class="col-3">
                                    <span>{{ 'product_video.type.video_preview'|trans }}</span>
                                </div>
                                <div class="col-9">
                                    <div>
                                        {{ ProductVideoForm.vars.data.video_url|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    
                    </div>

                    <hr>
                {% endfor %}

            </div>
        </div>
    </div>

</div>